header {
    height: 100vh;
    overflow: hidden;
}

.header_container {
    text-align: center;
    height: 100%;
    position: relative;
}

.cta {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

.header_socials {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .4rem;
    gap: 1rem;
}
.programmer {
    width: 32rem;
    height: 40rem;
    position: absolute;
    overflow: hidden;
    border-radius: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (max-width: 1024px){
    header {
        height: 90vh;
    }
}

@media screen and (max-width: 600px){
    header {
        height: 100vh;
    }
    .header_socials {
        display: none;
    }
}
